<div id="wrapper">
  <div id="dialog">
    <h4 class="mt-4">Please enter the 4-digit verification code we sent via SMS:</h4>
    <div id="form" class=" col-12">
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input class="mt-2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <input  class="mt-2" type="text" maxLength="1" size="1" min="0" max="9" pattern="[0-9]{1}" />
      <button class="btn btn-primary btn-embossed">Verify</button>
    </div>

    <p class="fs-5">{{transform(counter)}}</p>

    <div>
    <span class="code-div">  Didn't receive the code?</span><br />
      <a href="#" class="code-div">Send code again</a>
      <!-- <br /> <a href="#" class="code-div">Change phone number</a> -->
    </div>
     <img src="http://jira.moovooz.com/secure/attachment/10424/VmVyaWZpY2F0aW9uLnN2Zw==" alt="test" />
  </div>
</div>
